@import "response";

@logo-text: #4a296a;
@body-text: lighten(#000000, 10%);
@code-font: "Oxygen Mono";

html {
    background: darken(#ffffff, 3%);
    font-size: 100%;
    color: @body-text;
}

body {
    font-family: Helvetica;
    margin: 0 auto;
    padding: 0 0;
}

img {
    max-width: 100%;
}

.container {
    /* Whatever you want. They’re your oats. */
    max-width: 60em;
    margin: 0 auto;
    padding: 0 0;
}

.unit.welcome {
    .span-grid;
    h1 {
        font-family: "Michroma", "Helvetica", sans-serif;
        font-size: 48pt;
        margin-top: 1em;
    }
    p {
        font-family: "Questrial", "Helvetica", sans-serif;
        font-size: 18pt;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.unit {
    padding: 0 36px;
}

.unit.value-proposition {
    .span-grid;
    p {
        margin: 1em 0;
    }
}

.unit.description {
    p {
        margin: 1em 0;
    }
    ul {
        margin: 1em 0;
        padding-left: 2em;
    }
    a {
        color: #4682b4;
    }
    a:visited {
        color: #9370db;
    }
    p code {
        font-family: @code-font;
        font-size: 0.85em;
        background: white;
        padding: 0 0.25em;
        border: 1px dotted #ccc;
    }
    .highlight > pre {
        margin: 2em 0;
        padding: 1em;
        font-size: 1.0em;
        font-family: @code-font, 'Monaco', 'Cutive Mono', 'Oxygen Mono', monospace;
    }
}

.unit.benefit {
    padding: 1em;
    .one-of-three; 
    h2 {
        text-align: center;
        font-size: 1em;
        margin-bottom: 1em;
    }
}

.unit.verbiage {
    .span-grid;
    h2 {
        font-size: 1em;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 1em;
    }
}

.unit.description {
    .span-grid;
}

.unit.sidebar {
    .one-of-four; 
}

/* vim: set ts=4 sw=4: */
