doctype html
html
  meta(charset="utf-8")
  title Packet
  link(href="https://fonts.googleapis.com/css?family=Cutive+Mono|Sorts+Mill+Goudy|Mate|Oxygen+Mono|Offside|Raleway:400,700" rel="stylesheet" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy")
  link(rel="stylesheet" type="text/css" href="css/ascetic.css")
  link(rel="stylesheet" type="text/css" href="css/style.css")
body
  a(href="https://github.com/bigeasy/packet/"): img(style="position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub")
  div(class="container")
    div(class="unit welcome")
      h1 Packet
      // todo: code font is too small for body text font
    div(class="unit description markdown include" data-file="index.md")
  // todo: move into an edify plugin
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-20388260-3', 'bigeasy.github.io');
    ga('send', 'pageview');
// vim: set ts=2 sw=2 nowrap:
